<div class="profile-container">

<div class="user-profile">

  <div class="profile-img-container">
    <img src="{{user.profileImg}}" alt="profile image">
  </div>

  <div id="username-cont">
    <h2>{{user.username}}</h1>
    <h4>{{user.name}}</h3>
  </div>

</div>

<div class="profile-nav">
  <a href="#">My Music</a>
  <a href="/music/add-song">Upload a Song</a>
  <a href="/music/all-music">All Music</a>
  <a href="/music/playlist">My Playlist</a>
</div>
<hr>

{{#each user.music}}

<div class="song-container">
  <div class="cover-img-container">
    <img src="{{coverImgURL}}" alt="song cover image">
  </div>
  <div class="big-container">
    <div class="audio-container">
      <h4>{{title}}</h4>
      <h6>{{author}}</h6>
      <audio controls>
        <source src="{{songURL}}" type="audio/mpeg">
      </audio>
    </div>
{{!-- hacer que el link del genre te lleve a todas las canciones de ese genre --}}
    <div class="edit-container">
      <a href="/music/edit/{{id}}">Edit song</a>
      <a href="/music/{{id}}/delete"><i style="font-size:24px" class="fa">&#xf014;</i> Delete song</a>
    </div>
  </div>
    <div class="genre-container">
      <p>#{{genre}}</p>
    </div>
</div>
{{/each}}

</div>