<div class="user-profile">

  <div class="profile-img-container">
    <img src="{{user.profileImg}}" alt="profile image">
  </div>

  <div id="username-cont">
    <h2>{{user.username}}</h1>
    <h4>{{user.name}}</h3>
  </div>

</div>

<div class="profile-nav">
  <a href="#">My music</a>
  <a href="/music/add-song">Upload a song</a>
</div>
<hr>

{{#each user.music}}

<div class="song-container">
<img src="{{coverImgURL}}" alt="">
<h3>{{title}}</h3>
<h4>{{author}}</h4>
<audio controls>
  <source src="{{songURL}}" type="audio/mpeg">
  </audio>
{{!-- hacer que el link del genre te lleve a todas las canciones de ese genre --}}
<p>#{{genre}}</p>
<a href="/music/edit/{{id}}">Edit</a>
{{!-- delete a song icon --}}
<a href="/music/{{id}}/delete"><i style="font-size:24px" class="fa">&#xf014;</i></a>

</div>
{{/each}}

