<div class="music-container">
	<br>	
<h1>MUSIC</h1>
<div class="allsongs-container">
{{#each song}}
	<div class="song-container2">
		<div class="song-img">
			<img src="{{coverImgURL}}" alt="song cover image">
		</div>
		<h4>{{title}}</h4>
		<h6>{{author}}</h6>
		<audio controls>
        	<source src="{{songURL}}" type="audio/mpeg">
      	</audio>
		<form action="/music/playlist" method="POST">
			<input type="hidden" name="song" value="{{_id}}">
			<button type="submit" name="song">Add to Playlist</button>
		</form>
	</div>
{{/each}}
</div>
</div>